<% title "Home" %>
<% 
@posts.each do |post| 

%>
<div class="col-md-3 col-sm-6">
    <div class="product-item-vote">
        <div class="product-thumb">
            <%= link_to image_tag(post.picture.url), post %>
        </div> <!-- /.product-thum -->
        <div class="product-content">
            <div class="product-content border border-white">
            <p><%= post.description %></p>
            </div>
            <span class="tagline">By: <%= link_to post.user.user_name, controller: "users", action: "index", id: post.user_id %></span><span class="tagline"><%= time_ago_in_words(post.created_at) %> ago</span>
            <ul class="progess-bars">
                <li>
                    <div class="progress">
                        <div class="progress-bar comments" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        <span class="comments">6</span>
                    </div>
                </li>
                <li>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
                        <span>4</span>
                    </div>
                </li>
                <div class="progress">
                        <%= link_to raw("<span class='comments yes'><i class='fa fa-arrow-up'></i></span>"), '#', id: 'progress_yes', remote: true, value: post.id %>
                         
                    </div>
                <div class="progress">
                        <span class="progress no" id="<%= post.id %>"><i class="fa fa-arrow-down"></i></span>
                </div>

                <div id="proizvodi">
                    <% if @id != nil %>
                        <h2><% @id %></h2>
                    <% end %>
                </div>

            </ul>
        </div> <!-- /.product-content -->
    </div> <!-- /.product-item-vote -->
</div> <!-- /.col-md-3 -->
<%  $i = 0
    $i += 1
  if ($i == 4) %> </div><div class="row"><% end
 end %>

<div class="row">
<div class="col-md-3 col-sm-6">
    <div class="product-item-vote">
        <div class="product-thumb">
            <%= link_to image_tag("plus.png"), new_post_path %>
        </div> <!-- /.product-thum -->
        <div class="product-content">
            <div class="product-content border border-white">
            
            </div>
        </div> <!-- /.product-content -->
    </div> <!-- /.product-item-vote -->
</div> <!-- /.col-md-3 -->
</div>